@model BerrasBio.ViewModels.ConfirmViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white">Confirm order</h1>
<hr />
<div>
    <div>
        <form asp-action="Confirm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.Viewing.ViewingId" name="viewingId" />

            <h5 class="text-white">Tickets</h5>


            <table class="table">
                <thead>
                    <tr>
                        <th class="movies">
                            Titel
                        </th>
                        <th class="movies">
                            Salong
                        </th>
                        <th class="movies">
                            Platsnummer
                        </th>
                        <th class="movies">
                            Tid
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var seat in Model.SeatNumbers)
                    {
                        <tr>
                            <td class="details">
                                @Html.DisplayFor(modelItem => Model.Viewing.Movie.Title)
                            </td>
                            <td class="details">
                                @Html.DisplayFor(modelItem => Model.Viewing.Salon.Name)
                            </td>
                            <td class="details">
                                @Html.DisplayFor(modelItem => seat)
                            </td>
                            <td class="details">
                                @Html.DisplayFor(modelItem => Model.Viewing.FormatedStartTime)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>


            <div class="form-group">
                <input type="submit" value="Confirm order" class="btn btn-outline-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark mt-5" asp-action="Index" asp-route-id="@Model.Viewing.ViewingId">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .container {
        background-color: transparent;
    }

    #layoutBackground {
        background-image: none;
        background-color: black;
    }

    .movies
    {
        color: #F5F5F5;
    }

    .details
    {
        color: #D5D5D5;
    }
</style>
