@model BerrasBio.Models.Order

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        <h4>Order</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.UserName)
            </dd>

        </dl>


        <h5>Biljetter</h5>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Titel
                    </th>
                    <th>
                        Salong
                    </th>
                    <th>
                        Platsnummer
                    </th>
                    <th>
                        Tid
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model.Tickets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Viewing.Movie.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Viewing.Salon.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Seat.SeatNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Viewing.FormatedStartTime)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <p>Dina biljetter är bokade! De kan hämtas ut i kassan senast en timme innan föreställningen börjar.</p>
    </div>
