@model IEnumerable<BerrasBio.Models.Viewing>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Viewings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Titel
            </th>
            <th>
                Start tid
            </th>
            <th>
                Salong
            </th>
            <th>
                Platser kvar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormatedStartTime )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salon.Name)
            </td>
            <td>
               @item.SeatsLeft
            </td>
            <td>
               <a asp-action="Book" asp-route-id="@item.ViewingId">Boka biljetter</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
