@model IEnumerable<BerrasBio.Models.Viewing>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="d-flex flex-row align-items-end">
        <div>
            <img class="img-fluid" height="150" width="75" src="@Model.First().Movie.PosterURL" alt="@Model.First().Movie.Title poster image" />
        </div>
        <h1 class="text-white ml-2">Viewings for <b>@Model.First().Movie.Title</b></h1>
    </div>

<table class="table mt-3">
    <thead>
        <tr>
            <th>
                <a asp-action="CheckView" asp-route-id="@Model.First().MovieId" asp-route-order="Time" class="text-white font-weight-bold">Start tid</a>

                
            </th>
            <th class="text-white">
                Salong
            </th>
            <th>
                <a asp-action="CheckView" asp-route-id="@Model.First().MovieId" asp-route-order="Num" class="text-white font-weight-bold">Platser kvar</a>

                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-white">
            <td>
                @Html.DisplayFor(modelItem => item.FormatedStartTime )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salon.Name)
            </td>
            <td>

               @item.SeatsLeft
            </td>
            <td>
               <a asp-action="Book" asp-route-id="@item.ViewingId" class="btn btn-danger">Boka biljetter</a>
            </td>
            
        </tr>
}
    </tbody>
</table>

<style>
    .container {
        background-color: transparent;
    }

    #layoutBackground {
        background-image: none;
        background-color: black;
    }
</style>
