@model BerrasBio.ViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<div>
    <div class="d-flex flex-row align-items-end">

        <div>
            <img class="img-fluid" height="300" width="200" src="@Model.Movie.PosterURL" alt="@Model.Movie.Title poster image" />
        </div>

        <div class="header-title">
            <h3 class="movie-title">@Model.Movie.Title</h3>
            <span class="font-weight-bold movie-title">@Model.Movie.Cathegory</span> <br />
            <span class="movie-cat">
                @Model.Movie.LengthMinute min | PG:
                @if (Model.Movie.PerentalGuidance == 0)
                {
                    @:Universal
                }
                else
                {
                    @Model.Movie.PerentalGuidance
                }
            </span>
        </div>

    </div>

    <div class="mt-5 movie-title">
        <p>@Model.Movie.Plot</p>
        <span><text class="movie-cat">Director: </text><br />@Model.Movie.Director</span> <br /><br />
        <span><text class="movie-cat">Actors: </text><br />@Model.Movie.Actors</span> <br /><br />
        <span><text class="movie-cat">Release: </text><br />@Model.Movie.ReleaseYear</span>
    </div>
</div>

@if (Model.Viewings.Count == 0)
{
    <h3 class="movie-title mt-5">Inga visningar</h3>
}

else
{

    <h3 class="movie-title mt-5">Visningar</h3>

    <table class="table mt-4" id="movies">
        <thead>
            <tr>
                <th class="sort-time" id="startTime">
                    Start time
                </th>
                <th class="movie-title">
                    Salong
                </th>
                <th class="sort-seats" id="availableSeats">
                    Available seats
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Viewings)
            {
                <tr class="movie-cat">
                    <td>
                        @Html.DisplayFor(modelItem => item.FormatedStartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salon.Name)
                    </td>
                    <td>

                        @item.SeatsLeft
                    </td>
                    <td>
                        <a asp-controller="Reserve" asp-action="Index" asp-route-id="@item.ViewingId" class="btn btn-danger">Boka biljetter</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>

}

<div>
    <a asp-action="Index" class="btn btn-dark mt-3">Back</a>
</div>
<style>
    div > img {
        border-radius: 5px;
        border: 0.5px solid white;
    }

    .header-title {
        margin-left: 1em;
    }

    .container {
        background-color: transparent;
    }

    #layoutBackground {
        background-image: none;
        background-color: black;
    }

    .movie-title {
        color: #F5F5F5;
    }

    .movie-cat {
        color: #CFCFCF;
    }

    .btn {
        cursor: pointer;
    }

    .sort-seats, .sort-time
    {
        color: #F5F5F5;
        cursor: pointer;
    }
</style>

<script src="~/js/Sort.js"></script>
