@model IEnumerable<BerrasBio.Models.Seat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Seats</h1>

<p>
    Pick up to twelve empty seats.
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Platsnummer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <form asp-action="Choose">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeatNumber)
                    </td>
                    <td>
                        @if (item.Booked == false)
                        {
                            <a asp-action="Booked" asp-route-id="@item.SeatId" asp-route-viewingId="@item.ViewingId">Empty</a>
                        }
                        else
                        {
                            <a asp-action="Booked" asp-route-id="@item.SeatId" asp-route-viewingId="@item.ViewingId">Booked</a>

                        }
                        <input asp-for="@item.Booked" name="@item.SeatId" type="checkbox" />
                    </td>
                </tr>
            }
            <input name="viewingId" type="hidden" value="@Model.First().ViewingId" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </tbody>
</table>
