@model IEnumerable<BerrasBio.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"];
    </div>

}
<h1>Movies</h1>

<p>
    <a asp-action="Create" class="btn bg-danger text-white">Add Movie</a>
</p>
@foreach (var movie in Model)
{
    <div class="mt-3 d-flex flex-row align-items-center border-sep-black">
        <div>
            <img class="img-fluid poster-img-list" height="170" width="85" src="@movie.PosterURL" alt="@movie.Title poster image" />
        </div>
        <div class="text-container">
            <h4><a asp-action="Details" asp-route-id="@movie.MovieId" class="text-decoration-none title">@movie.Title</a></h4>

            <span class="details-black">
                @movie.Cathegory  <strong>|</strong>
                @movie.LengthMinute min  <strong>|</strong> PG:
                @if (movie.PerentalGuidance == 0)
                {
                    @:Universal
                }
                else
                {
                    @movie.PerentalGuidance
                }
            </span>
        </div>
    </div>
}

<style>

    .title {
        color: black;
        font-weight: bold;
    }

        .title:hover {
            border-bottom: 2px solid black;
            color: black;
        }

    .container {
        background-color: transparent;
    }

    #layoutBackground {
        background-image: none;
        background-color: white;
    }
</style>